.samsung-header-admin {
  background: rgb(234, 234, 234);
  padding: 50px;
}

.samsung-header-admin .link-admin-home {
  display: inline-block;
  padding: 10px 25px;
  background: rgb(78, 190, 234);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 25px;
}

.samsung-header-admin .title {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}