/*!
 *
 * Estágio - Samsung Ocean - _title.scss
 *
 * Todos os direitos reservados: brenopereira <breno.pereira@alumiar.me>
 * Arquivo alterado em: 8/25/18 6:41 AM
 *
 */

.samsung-header-title {
  background: rgb(85, 85, 85);
  padding: 40px;

  h1 {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
  }

  span {
    font-size: 13px;
    color: rgb(177, 219, 117);
    font-weight: 300;
  }
}